services:
  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    restart: unless-stopped
    ports:
      - '80:80'
    volumes:
      - ./conf.d:/etc/nginx/conf.d:ro
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - aispoint-network
    logging:
      driver: 'json-file'
      options:
        max-size: '100m'
        max-file: '3'

networks:
  aispoint-network:
    name: aispoint-network
